<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>


        function getAllUsers() {
            const content = document.getElementById("content");
            fetch("/getAllUsers").then(response => {
                if (!response.ok) {
                    throw new Error("Ошибка загрузки файла");
                }
                return response.text();
            })
                .then(html => {
                    content.innerHTML = html;
                })
                .catch(error => {
                    console.error("Ошибка:", error);
                    document.getElementById("content").innerHTML = "<p>Не удалось загрузить содержимое.</p>";
                });
        }

        function deleteUser(usersButton) {
            let id = usersButton.closest("tr").querySelectorAll("td")[0].textContent;
            const params = new URLSearchParams();
            params.append("id", id);
            params.append('_csrf', document.getElementById("cookie").getAttribute("value"));
            fetch(`/deleteUser`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: params
            }).then(response => {
                return response.text()
            }).then(html => {
                document.getElementById("content").innerHTML = html;
            })
        }




        function changeUser(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            const url = formData.get('id') ? `/changeUser` : '/addUser';
            console.log(formData.get('roles'));
            fetch(url, {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'X-XSRF-TOKEN': document.getElementById("cookie").getAttribute("value")
                },
                body: formData
            }).then(response => {
                return response.text()
            }).then(html => {
                document.getElementById("content").innerHTML = html;
            })
        }

        function showForm(type, buttonShow) {
            const params = new URLSearchParams();
            let url = '/getUserByID';
            if (buttonShow.closest("tr") != null) {
                let id = buttonShow.closest("tr").querySelectorAll("td")[0].textContent;
                params.append("id", id);
                url = `/getUserByID?${params.toString()}&view=` + type;
            }
            fetch(url).then(response => {
                return response.text()
            }).then(html => {
                document.getElementById("content").innerHTML = html;
            })
        }

    </script>
</head>


<body>
<button onclick="getAllUsers()">Получить всех пользователей</button>

<button onclick="showForm('add', this)">Добавить пользователя</button>


<div id="content">
    <table border="1" class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Возраст</th>
            <th scope="col">Mail</th>
            <th scope="col">Роли</th>
            <th scope="col">Изменить</th>
            <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tr th:each="user : ${users}">
            <td th:utext="${user.id}">id</td>
            <td th:utext="${user.name}">имя</td>
            <td th:utext="${user.age}">возраст</td>
            <td th:utext="${user.mail}">mail</td>
            <td th:utext="${user.roles}">roles</td>
            <td style="font-size: 10px">
                <button type="button" onclick="deleteUser(this)">
                    Удалить
                </button>
            </td>
            <td>
                <button type="button" onclick="showForm('change', this)">
                    Заменить
                </button>
            </td>
        </tr>
    </table>
</div>
<form th:action="@{/logout}" method="post">
    <input type="hidden" id="cookie" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Выход</button>
</form>
<div sec:authorize="hasAuthority('USER')">
    <a href="/user">Перейти на страницу пользователя</a>
</div>

</body>
</html>