<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<table border="1" class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Возраст</th>
        <th scope="col">Mail</th>
        <th scope="col">Роли</th>
        <th scope="col">Изменить</th>
        <th scope="col">Удалить</th>
    </tr>
    </thead>
    <tr th:each="user : ${users}">
        <td th:utext="${user.id}">id</td>
        <td th:utext="${user.name}">имя</td>
        <td th:utext="${user.age}">возраст</td>
        <td th:utext="${user.mail}">mail</td>
        <td th:utext="${user.roles}">roles</td>
        <td style="font-size: 10px">
            <button type="button" onclick="deleteUser(this)">
                Удалить
            </button>
        </td>
        <td>
            <button type="button" onclick="showForm('change', this)">
                Заменить
            </button>
        </td>
    </tr>

</table>
</html>